.contact-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6rem;
    background: linear-gradient(to right, #6a11cb, #2575fc);
}

.contact-form {
    background-color: rgb(185, 240, 122);
    border-radius: 1rem;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    padding: 2rem;
}


.contact-title {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1.5rem;
    color: #333;
}

.form-group {
    margin-bottom: 1.5rem;
}

.form-label {
    display: block;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #555;
}

.form-input,
.form-textarea {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    font-size: 1rem;
    color: #333;
    transition: border-color 0.3s;
}

.form-input:focus,
.form-textarea:focus {
    border-color: #6a11cb;
    outline: none;
    box-shadow: 0 0 5px rgba(106, 17, 203, 0.5);
}

.form-textarea {
    resize: none;
    height: 8rem;
}

.form-button {
    width: 100%;
    padding: 0.75rem;
    font-size: 1.25rem;
    font-weight: bold;
    color: rgb(184, 245, 156);
    background: linear-gradient(to right, #43cea2, #185a9d);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    /* transition: background 0.3s, transform 0.3s; */
}

.form-button:hover {
    background: linear-gradient(to right, #3ab797, #14437d);
    transform: scale(1.05);
}

.form-button:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(67, 206, 162, 0.5);
}